



    <div class="col-12 d-block d-lg-none">
        <div class="nav nav-pills d-flex justify-content-center" >
           
            <a class="nav-link " href="{% url "project_list" %}" >项目查询</a>
            <a class="nav-link" href="{% url "project_add" %}" >新增项目</a>
            <a class="nav-link" href="project_inform"  >立项通知</a>
           
        </div>            
    </div>



    <div class="col-2 d-lg-block d-none collapse" id="collapseExample">
        <div class="nav nav-pills d-flex justify-content-center" >
            <a class="nav-link " href="{% url "project_list" %}" >项目查询</a>
            <a class="nav-link" href="{% url "project_add" %}" >新增项目</a>
            <a class="nav-link" href="project_inform"  >立项通知</a>
            
        </div>
    </div>



    





            
            
            

        